#main_div_1,
#main_div_3,
#main_div_4,
#main_div_6{
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}
#main_div_2,
#main_div_5{
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    flex-direction: row;
    width: 100%;
}

#main_div_1{height:3%;}
#main_div_2{height:5%;}
#main_div_3{height:40%;}
#main_div_4{height:20%;}
#main_div_5{height:5%;}
#main_div_6{height:5%;}



#main_div_title{
    font-size: 120%;
    font-weight: bold;
}

.personalinfos{
    margin-left:3%;
    font-size:110%;
}

#personal_info_firstname_input,
#personal_info_lastname_input,
#personal_info_section_input{
    width:100px;
}


/*
#main_div_image{
    margin:2%;
    width:95%;
    height:50%;
}*/

.option_number_sets{
    font-size: 130%;
}
.answertitles{
    margin-left:20px;
    font-size:130%;
}
.optionsets{
    margin:3px;
}

#main_div_next,
#main_div_prev{
    font-size:12px;
    font-weight:bold;
    padding:5px;
    margin:5px;
}

#main_div_finish{
    font-size:12px;
    font-weight:bold;
    padding:5px;
    margin:5px;
}

